$primary-color: red;
$white: white;

$general-spacing: 8px;
$general-font: 10px;
$variable-color: #809bbe;
$variable-applied-color: #5f94a8;
$variable-notapplied-color: #ff4747;
$variable-color-text: white;
$env-color: #f3fffa;
$hover-color: #e9f2ff;

$gentle-text-color: #56606f;